/*********************************Tag Selectors********************************/

body {
  background-color: #d8e3e7
}
hr {
  background-color: #d8e3e7;
  border-color: #51c4d3;
  border-style: dotted none none;
  border-width: 5px;
  height: 1px;
  width: 5%;
}
h1 {
  font-size: 5rem;
  color: #126e82;
  font-family: 'Roboto Slab', serif;
}
h2 {
  color: #126e82;
  font-family: 'Roboto Slab', serif;
}
h3 {
  color: #126e82;
  font-family: 'Roboto Slab', serif;
}

td {
  width: 25%;
}
/********************************Class Selectors*******************************/
.american-container {

}

.body {
  width: 90%;
  margin: 0 auto;
}

.cichlid-summary-table-picture {
  height: 200px;
  width: 300px;
}

.cichlid-table {
  font-family: 'Zilla Slab', serif;
  width: 100%;
}

.content {
  font-family: 'Zilla Slab', serif;
}

.button {
  margin-top: 0;
  margin-bottom: 0;
}

.button:hover {
  border-color: gold;
  border-style: solid;
  border-width: 2px;
  display:inline;
}

.header-art {
  margin: 0;
  position: relative;
  text-align: center;
}

.header-art-plant {
  position: static;
  margin: 0 auto;
}

.header-art-cobalt-blue-cichlid {
  bottom:70%;
  left: 60%;
  position: absolute;
}

.header-art-discus-cichlid {
  bottom: 30%;
  left: 50%;
  position: absolute;
}

.header-art-electric-yellow-cichlid {
  bottom: 60%;
  left: 30%;
  position: absolute;
}

.header-art-flower-horn-cichlid {
  bottom: 10%;
  left: 30%;
  position: absolute;
}

.mbuna-container {

}

.section-header{
  font-family: 'Roboto Slab', serif;
}

.summary-box {
  line-height: 1.2rem;
  margin: 5% 15%;
}

.table-header {
  font-family: 'Roboto Slab', serif;
}

.td-aggressiveness {
  width: 10%;
}

.td-picture {
  text-align: center;
}

.title {
  font-family: 'Arvo', serif;
  line-height: 2em;
}

.title-box {
  margin: 10% auto 0 auto;
  width: 100%;
  text-align: center;
}
